{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _(title) }}{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumbs" class="breadcrumb is-centered">
    <ul>
        <li>
            <a href="{{ url_for('general.show_dash') }}">
                {{ _('Home') }} 
            </a>
        </li>
        <li>
            <a href="{{ url_for('user_ksat.manage_role') }}">
                {{ _('Manage Role') }} 
            </a>
        </li>
        {% if add %}
            <li>
                <a href="{{ url_for('user_ksat.add_role') }}">
                    {{ title }} 
                </a>
            </li>
        {% else %}
            <li>
                 <a>{{_('Modify Role')}}</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<style>
    option{

        font-size:25px

    }

    #next{
        box-shadow: none;
    }

    #box_K,#box_S,#box_A,#box_T{
        margin-top: -25px;
    }

    .icon-search{

        /*padding-right:   40px;*/
    }
    #description{
        width: 100%;
    }
</style>

<div class="box">
    <h3 class="title is-3 has-text-centered">
       {{ _(title) }}
    </h3>
</div>

<div class="box">
    <div class="columns is-centered">
        <div class="column has-text-centered">
            <form class="" method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="field">
                    <label class="label">
                        <h4 class="subtitle is-4 has-text-weight-bold">{{ form.name.label }}</h4>
                    </label>
                    <div class="control has-text-centered">
                        {{form.name(size=50)}}
                    </div>
                </div>
                <div class="columns box is-centered">
                    <div class="column is-2">
                        {% if add %}
                            {{ macros.render_submit(form.submit ,label=_('Add'))}}
                        {% else %}
                            {{ macros.render_submit(form.submit ,label=_('Modify'))}}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock %}
