{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _(title) }}{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumbs" class="breadcrumb is-centered">
    <ul>
        <li>
            <a href="{{ url_for('general.show_dash') }}">
                {{ _('Home') }} 
            </a>
        </li>
        <li>
            <a href="{{ url_for('user_ksat.change_password_user') }}">
                {{ title }} 
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<style>
    option{

        font-size:25px

    }

    .title{
        font-size: 14px
    }

    .myeye{

        padding-left: 40%;
    }

    .eye{
        position: relative;
        left:10px;
    }

    .box{
      box-shadow: none;
    }

    .global{
      box-shadow: 0 .5em 4em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    }

</style>

<div class="box">
    <h2 class="title is-2 has-text-centered">
       {{ _(title) }}
    </h2>
</div>

<div class="box global">
    <div class="columns is-centered">
        <div class="column has-text-centered">
            <form action="" method="POST" role="form">
                {{ form.hidden_tag() }}
                <div class="columns is-centered">
                    <div class="column is-5">
                        <div class="control has-text-centered">
                            <div class="myeye field has-addons has-text-centered ">
                                <label class="label">Old Password <a onclick="see_old();" >
                                    <i class="eye fas fa-eye"></i>
                                </a></label>
                            </div>
                            {{ macros.render_input(form.old_password, icon="key", label=' ') }}
                            {% if form.errors.old_password %}
                                {% set mesage= form.errors.old_password %}
                                <article class="message is-warning">
                                    <div class="message-body">
                                        <li>{{mesage}}</li>
                                    </div>
                                </article>
                            {% endif %}
                        </div>
                        <div class="control has-text-centered">
                            <div class="myeye field has-addons has-text-centered ">
                                <label class="label">Password <a onclick="see_pass();" >
                                    <i class="eye fas fa-eye"></i>
                                </a></label>
                            </div>
                            {{ macros.render_input(form.password, icon="key", label=' ') }}
                            {% if form.errors.password %}
                                {% set mesage= form.errors.password %}
                                <article class="message is-warning">
                                    <div class="message-body">
                                        <li>{{mesage}}</li>
                                    </div>
                                </article>
                            {% endif %}
                        </div>
                        <div class="control has-text-centered">
                            {# Retype password #}
                            <div class="myeye field has-addons has-text-centered ">
                                <label class="label">Retype Password <a onclick="see_retype();" >
                                    <i class="eye fas fa-eye"></i>
                                </a></label>
                            </div>
                            {{ macros.render_input(form.retype_password, icon="key", label=' ') }}
                            {% if form.errors.retype_password %}
                                {% set mesage= form.errors.retype_password %}
                                <article class="message is-warning">
                                    <div class="message-body">
                                        <li>{{mesage}}</li>
                                    </div>
                                </article>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="columns box is-centered">
                    <div class="column is-2">
                        {{ macros.render_submit(form.submit ,label=_('Modify'))}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
    function see_old(){
      var elem1 = document.getElementById('old_password');
      if(elem1.type.localeCompare('password')==0){
        elem1.type = 'text';
      }else{
        elem1.type = 'password';
      }
    }

    function see_pass(){
      var elem2 = document.getElementById('password');
      if(elem2.type.localeCompare('password')==0){
        elem2.type = 'text';
      }else{
        elem2.type = 'password';
      }
    }

    function see_retype(){
      var elem3 = document.getElementById('retype_password');
      if(elem3.type.localeCompare('password')==0){
        elem3.type = 'text';
      }else{
        elem3.type = 'password';
      }
    }
</script>
{% endblock %}
