{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _(title) }}{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumbs" class="breadcrumb is-centered">
    <ul>
        <li>
            <a href="{{ url_for('general.show_dash') }}">
                {{ _('Home') }}
            </a>
        </li>
        <li>
            <a href="{{ url_for('user_ksat.drop_out_user') }}">
                {{ title }}
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<style>
    option{
        font-size:25px
    }
    .box{
      box-shadow: none;
    }

    .global{
      box-shadow: 0 .5em 4em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    }
</style>

<div class="box">
    <h2 class="title is-2 has-text-centered">
        {{ _(title) }}
    </h2>
</div>
<div class="box global">
    <div class="columns is-centered">
        <div class="column has-text-centered">
            <form action="" method="POST" role="form">
                {{ form.hidden_tag() }}
                <h3 class="title is-3"> Are you sure you want to drop out?</h3>
                <div class="columns box is-centered">
                    <div class="column is-2">
                        {{ macros.render_submit(form.submit ,label=_('Drop Out'))}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
</script>
{% endblock %}
